#header_secundary {
	height:20px;
}
#login {
	margin-top:10%;
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	#login_form {
	    max-width: 500px;
	    width: 100%;
	}
}
#header {
	.ui.menu {
		margin:0 auto!important;
		border-radius:0!important;
		.header.item {
			font-size:50px;
			padding:15px;
		}
		.ui.container {
		}
	}
}